= form_for @thing do |f|
  - if @thing.errors.any?
    #error_explanation
      %h2= "#{pluralize(@thing.errors.count, "error")} prohibited this thing from being saved:"
      %ul
        - @thing.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :category_id
    = select("thing", "category_id", Category.all.collect {|c| [ c.name.humanize, c.id ] }, {include_blank: t('none')})
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :story
    = f.text_area :story
  .field
    = f.label :source
    = f.text_field :source
  .field
    = f.label :source_id
    = f.text_field :source_id
  .field
    = f.label :source_url
    = f.text_field :source_url
  .field
    = f.label :asset_id
    = f.number_field :asset_id
  .field
    = f.label :creator
    = f.text_field :creator
  .field
    = f.label :price
    = f.number_field :price
  .field
    = f.label :active_from
    = f.date_select :active_from
  .field
    = f.label :active_to
    = f.date_select :active_to, default: Date.today + 5.years
  .field
    = f.label :borrow_everyone
    = f.check_box :borrow_everyone, {checked: true}
  .field
    = f.label :borrow_circles
    = f.check_box :borrow_circles, {checked: true}
  .field
    = f.label :borrow_friends
    = f.check_box :borrow_friends, {checked: true}
  .actions
    = f.submit 'Save'
