%p#notice= notice

%p
  %b Owner:
  = @thing.member.name
%p
  %b Category:
  = @thing.category.name if @thing.category
%p
  %b Source:
  = @thing.source
%p
  %b Source:
  = @thing.source_id
%p
  %b Source url:
  = @thing.source_url
%p
  %b Asset:
  = @thing.asset_id
%p
  %b Name:
  = @thing.name
%p
  %b Creator:
  = @thing.creator
%p
  %b Price:
  = @thing.price
%p
  %b Description:
  = @thing.description
%p
  %b Personal story:
  = @thing.story
%p
  %b Borrow everyone:
  = @thing.borrow_everyone
%p
  %b Borrow circles:
  = @thing.borrow_circles
%p
  %b Borrow friends:
  = @thing.borrow_friends

= link_to 'Edit', edit_thing_path(@thing)
\|
= link_to 'Back', things_path
