!!!
%html
%head
%meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
%title Spullendelen
= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
= javascript_include_tag "application", "data-turbolinks-track" => true
= csrf_meta_tags
%body
%header= render 'layouts/navigation'
= render 'layouts/messages'
-#%p.notice= notice
-#%p.alert= alert
= yield
